:root {
    --block-size: 150px;
    --block-padding: 1.5rem;
    --grid-gap: 0.25rem;
}

section {
    grid-template-rows: repeat(15, minmax(var(--block-size), calc((100vw - 32px) / 2)));
    grid-template-columns: repeat(2, minmax(var(--block-size), calc((100vw - 32px) / 2)));
}


@media (min-width: 480px) {
    :root {
        font-size: 16px;
    }

    section {
        grid-template-rows: repeat(10, var(--block-size));
        grid-template-columns: repeat(3, var(--block-size));
    }
}

@media (min-width: 768px) {
    section {
        grid-template-rows: repeat(8, var(--block-size));
        grid-template-columns: repeat(4, var(--block-size));
    }
}

@media (min-width: 1024px) {
    section {
        grid-template-rows: repeat(5, var(--block-size));
        grid-template-columns: repeat(6, var(--block-size));
    }
}

@media (min-width: 1280px) {
    section {
        grid-template-rows: repeat(4, var(--block-size));
        grid-template-columns: repeat(8, var(--block-size));
    }
}

@media (min-width: 1400px) {
    :root {
        --block-size: 170px;
        font-size: 18px;
    }

    section {
        grid-template-rows: repeat(4, var(--block-size));
        grid-template-columns: repeat(8, var(--block-size));
    }
}

@media (min-width: 1680px) {
    :root {
        --block-size: 190px;
        font-size: 20px;
    }

    section {
        grid-template-rows: repeat(4, var(--block-size));
        grid-template-columns: repeat(8, var(--block-size));
    }
}